.sheet-powerarmors {
  &__size,
  &__armor,
  &__pace,
  &__mods,
  &__weight,
  &__weapons {
    width: 45px;
  }

  .sheet-repitem__frame-silhouette {
    background-image: url('https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/powerarmor_01.png');
    background-size: contain;
    margin-top: 4px;
    height: 56px;
  }
}
