// FONTS
$f-roboto: Roboto, Arial, Helvetica, sans-serif;

// FONT SIZES (Overwrite Roll20!)
$fs-l: 14px;
$fs-s: 11px;
$fs-xs: 9px;

// COLORS
$c-text: var(--c-text);
$c-text-light: var(--c-text-light);
$c-text-lighter: var(--c-text-lighter);
$c-text-lightest: var(--c-text-lightest);
$c-text-gray: var(--c-text-gray);
$c-text-hover: var(--c-text-hover);

$c-outline: var(--c-outline);
$c-item: var(--c-item);
$c-background-die: var(--c-background-die);
$c-background-dark: var(--c-background-dark);
$c-background-hover: var(--c-background-hover);
$c-background-tooltip: var(--c-background-tooltip);

$c-background: var(--c-background);
$c-background-grid: var(--c-background-grid);
$c-background-track: var(--c-background-track);
$c-background-primary: var(--c-background-primary);
$c-border-primary: var(--c-border-primary);

$c-white: #fff;
$c-red: #d9534f;
$c-dark-red: #923836;
$c-yellow: #f0ad4e;
$c-blue: #0275d8;
$c-green: #5cb85c;
$c-purple: #b25afd;
$c-gray: #545454;

// SHADOWS
$shadow: 0 0 1.5px 0 rgba(0, 0, 0, 0.5);

@mixin note-grid {
  background: {
    image: linear-gradient(to right, $c-background-grid 1px, transparent 1px),
           linear-gradient(to bottom, $c-background-grid 1px, transparent 1px);
    size: 16px 16px;
    position: 4px -1px;
    color: $c-background;
  }
  color: $c-text-light;
  font-size: $fs-s;
  line-height: 16px;
  padding: 0 8px;
  resize: none;
}
