/* TABS */
.charsheet .character,
.charsheet .journal {
    display: none;
    padding: 5px;
    border: 1px solid #ccc;
}
.charsheet .tab {
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    padding: 10px;
    background-color: #fff;
    margin-bottom: -1px;
}
.charsheet .tab:hover {
    background: linear-gradient(to bottom, #f2f2f2, #ffffff);
}
.charsheet .tabstoggle[value="character"]~.tabs .tab-character,
.charsheet .tabstoggle[value="journal"]~.tabs .tab-journal {
    background: linear-gradient(to bottom, #f2f2f2, #ffffff);
}
.charsheet .tabstoggle[value="character"]~div.character,
.charsheet .tabstoggle[value="journal"]~div.journal {
    display: block;
}
.charsheet textarea.textbox {
    resize: none;
    box-sizing: border-box;
    height: 231px;
}
.charsheet .toggle-container {
    display: inline-flex;
    align-items: center;
}

/* CUSTOMS */

.character h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0;
    padding-left: 5px;
    color: #6F150C;
    border: 1px solid #ccc;
}
.character .left {
    float: left;
    padding: 5px;
}
.character .right {
    float: right;
    padding: 5px;
}
.character .concept .title {
    width: 150px;
}
.character .concept .lore {
    text-align: left;
    width: 100%;
}
.charsheet .config-concept
{
    width: 500px;
}
.charsheet .sheet-row {
    display: flex !important;
    justify-content: space-between;
    vertical-align: middle;
    flex-direction: row;
    line-height: 30px;
    padding-bottom: 5px;
}
.charsheet .sheet-row > span {
    flex: 2 1 auto;
    font-size: 15px;
    font-weight: 500;
}
.charsheet .sheet-row .autoExpand {
    flex: 3 5 auto;
}
.charsheet .sheet-row .autoExpand > input {
    width: 100%;
}
.charsheet .big-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    max-width: 100%;
}
.charsheet .big-box .box {
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.charsheet .big-box .box .box-content {
    padding: 10px;
}
.charsheet .skill-label {
    display: flex;
}
.charsheet .box-health-condition span.fixed {
    margin-left: 0;
}
.charsheet .box-health-condition span {
    margin-left: 5px;
}
.charsheet .skills {
    margin-bottom: 0 !important;
    margin-left: 5px;
    width: 100%;
}
.charsheet .skills .default-way {
    font-weight: bold;
}
.charsheet select.skills-large  {
    margin-bottom: 0;
}
.charsheet .skills-large {
    margin-left: 5px;
    width: 150px;
}
.charsheet .sheet-row span.title {
    font-weight: bold;
}
.charsheet .charsheet .domains
{
    font-weight: bold;
}
.charsheet .domains .header-name {
    width: 150px;
}
.charsheet .domains .header-val {
    width: 40px;
}

.charsheet .domains .header-bonus {
    width: 40px;
}
.charsheet .domains .header-voie {
    width: 100px;
}
.charsheet .footer {
    padding-top: 20px;
    color: darkslategray;
    font-style: italic;
}
.charsheet .domains-box .domain_skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 100%;
}
.charsheet .attitudes-box {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    gap: 5px;
    max-width: 100%; 
}
.charsheet .attitudes-box .attitude-title {
    background-color: #E6DFD9;
    color: #6F150C;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}
.charsheet .attitudes-box .attitude-title > span
{
    font-size: 18px;
    padding-left: 5px;
}
.charsheet .attitudes-box .attitude-title > span
{
    font-size: 18px;
    padding-left: 5px;
}
.charsheet .attitudes-box .attitude-attributes {
    padding: 5px;
}
.charsheet .attitudes-box .attitude-attributes > span {
    margin-left: 5px;
}
.charsheet .attitudes {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
.charsheet .domains-box .domain-box {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
.charsheet .domains-box .domain-box .domain-title
{
    background-color: #E6DFD9;
    color: #6F150C;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}
.charsheet .domains-box .domain-box .domain-label
{
    font-weight: bold;
    font-size: 20px;
}
.charsheet .domains-box .domain-box .domain-values {
    padding: 5px;
    text-align: left;
}
.charsheet .domains-box .domain-box .domain-values > span
{
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;;
}
.charsheet .domains-box .domain-box .sheet-tooltip
{
    color: darkgrey;
}
.charsheet .domains-box .domain-box .domain-way  {
    padding: 5px;
}
.charsheet .domains-box .domain-box .domain-way > span
{
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;;
}
.charsheet .domains-box .domain-disc .disc_name
{
    width: 100%;
}
.charsheet .big-box span.title
{
    background-color: #E6DFD9;
    color: #6F150C;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}
.charsheet .attack .roll {
    margin: 0 auto;
}
.charsheet .equip-name  {
    width: 100%;
    margin: 0 5px;
}
.charsheet span.equip-name  {
    font-weight: bold;
}
.charsheet .equip-checkbox  {
    width: 15px;
}
.charsheet .equip-bonus  {
    width: 50px;
}
.charsheet span.equip-bonus  {
    font-weight: bold;
}
/* TOOLTIPS */

.sheet-tooltip {
    margin-left: auto;
    outline: none;
    cursor: help;
    padding-left: 5px;
    padding-right: 5px;
}
.sheet-tooltip strong { line-height: 30px; }
.sheet-tooltip:hover span {
    display: block;
    position: absolute;
}
.sheet-tooltip:hover { text-decoration: none; }
.sheet-tooltip span {
    display: none;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 14px 20px;
    margin-top: 10px;
    margin-left: -150px;
    width: 160px;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
    text-align: justify;
}

/* BUTTONS D10 */

button.d10-dice {
    padding: 2px 3px;
    font-size: 1.3em;
    margin: 0px 3px 0px 3px;
}

button.d10-dice::before {
    font-family: 'dicefontd10' !important;
    content: 't';
    font-size: 1.3em;
}

/* ROLL TEMPLATES */

.sheet-rolltemplate-d10roll .sheet-container,
.sheet-rolltemplate-attack .sheet-container {
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}
.sheet-rolltemplate-d10roll .sheet-container h1,
.sheet-rolltemplate-attack .sheet-container h1 {
    color: rgb(126, 45, 64);
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}
.sheet-rolltemplate-d10roll div,
.sheet-rolltemplate-attack div {
    padding: 2px;
};
.sheet-rolltemplate-d10roll span,
.sheet-rolltemplate-attack span {
    color: rgb(126, 45, 64);
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}
.sheet-rolltemplate-d10roll .sheet-subheader,
.sheet-rolltemplate-attack .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}
.sheet-rolltemplate-d10roll .sheet-arrow-right,
.sheet-rolltemplate-attack .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid #6F150C;
    border-top: 2px solid transparent;
}
.sheet-rolltemplate-d10roll .sheet-tcat,
.sheet-rolltemplate-attack .sheet-tcat {
    font-style: italic;
}
.sheet-rolltemplate-d10roll .inlinerollresult,
.sheet-rolltemplate-attack .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
.sheet-rolltemplate-d10roll .inlinerollresult.fullcrit,
.sheet-rolltemplate-attack .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
.sheet-rolltemplate-d10roll .inlinerollresult.fullfail,
.sheet-rolltemplate-attack .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
.sheet-rolltemplate-d10roll .inlinerollresult.importandivoll,
.sheet-rolltemplate-attack .inlinerollresult.importandivoll {
    color: #4A57ED;
    border: none;
}
.sheet-rolltemplate-d10roll .sheet-fullcrit .sheet-customHighlight .inlinerollresult,
.sheet-rolltemplate-attack .sheet-fullcrit .sheet-customHighlight .inlinerollresult
{
    color: #3FB315 !important;
}
.sheet-rolltemplate-d10roll .sheet-fullfail .sheet-customHighlight .inlinerollresult,
.sheet-rolltemplate-attack .sheet-fullfail .sheet-customHighlight .inlinerollresult
{
    color: red !important;
}
.sheet-rolltemplate-d10roll .sheet-customHighlight .inlinerollresult.fullcrit,
.sheet-rolltemplate-d10roll .sheet-customHighlight .inlinerollresult.fullfail,
.sheet-rolltemplate-attack .sheet-customHighlight .inlinerollresult.fullcrit,
.sheet-rolltemplate-attack .sheet-customHighlight .inlinerollresult.fullfail
{
    color: #000000;
}
.sheet-rolltemplate-d10roll .sheet-detailled,
.sheet-rolltemplate-attack .sheet-detailled
{
    color: darkgray;
    font-style: italic;
    font-size: 0.8em;
}
.sheet-rolltemplate-attack .sheet-attack-touch-fail
{
    color: red !important;
}
.sheet-rolltemplate-attack .sheet-attack-touch-success
{
    color: green;
}

/* Dark mod adjustements */

body.sheet-darkmode  .charactersheet {
    background-color: #03131A;
    color: #F8F8F8;
    color-scheme: light dark;
}
body.sheet-darkmode .box,
body.sheet-darkmode .attitudes,
body.sheet-darkmode .domains-box .domain-box {
    background-color: #11262E;
    border: 1px solid #1D1D1D;
}
body.sheet-darkmode .character-info {
    background-color: #03131A;
}
body.sheet-darkmode h2 {
    border: 1px solid #1D1D1D;
    background-color: #92DAEC;
    color: #1A4651;
}
body.sheet-darkmode .footer
{
    color: #A1A1A1;
}
body.sheet-darkmode .attitudes-box .attitude-title,
body.sheet-darkmode .domains-box .domain-box .domain-title,
body.sheet-darkmode .big-box span.title {
    background-color: #1A4651;
    border-bottom: 1px solid #1D1D1D;
    color: #8FD6E8;
}
body.sheet-darkmode button,
body.sheet-darkmode input,
body.sheet-darkmode optgroup,
body.sheet-darkmode select,
body.sheet-darkmode textarea,
body.sheet-darkmode .charsheet {
	color: #eee;
    background-color: #03131A;
    border-color: #1A4651;
}
body.sheet-darkmode .btn,
body.sheet-darkmode .btn.btn-default {
	color: #c8c3bc;
	text-shadow: rgba(24,26,27,.75) 0px 1px 1px;
	background-color: #1e2021;
	background-image: linear-gradient(#181a1b, #26292b);
	border-color: #3e4446 #3e4446 #43494c;
	box-shadow: rgba(24,26,27,.2) 0px 1px 0px inset,rgba(0,0,0,.05) 0px 1px 2px
}
body.sheet-darkmode .sheet-tooltip:hover span {
    display: block;
    position: absolute;
}
body.sheet-darkmode .sheet-tooltip span {
    display: none;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #1A4651;
    z-index: 10;
    padding: 14px 20px;
    margin-top: 10px;
    margin-left: -150px;
    width: 160px;
    line-height: 16px;
    color: #F8F8F8;
    border: 1px solid #1A4651;
    background: #1A4651;
    text-align: justify;
}
body.sheet-darkmode .character,
body.sheet-darkmode .config,
body.sheet-darkmode .journal {
    display: none;
    padding: 5px;
    border: 1px solid #1A4651;
}
body.sheet-darkmode .tab {
    cursor: pointer;
    border: 1px solid #1A4651;
    border-bottom: 1px solid #03131A;
    padding: 10px;
    background-color: #03131A;
    margin-bottom: -1px;
}
body.sheet-darkmode .tab:hover {
    background: linear-gradient(to bottom, #1A4651, #03131A);
}
body.sheet-darkmode .charsheet .tabstoggle[value="character"]~.tabs .tab-character,
body.sheet-darkmode .charsheet .tabstoggle[value="journal"]~.tabs .tab-journal {
    background: linear-gradient(to bottom, #1A4651, #03131A);
}

/* DARK MODE ROLL TEMPLATES ADJUSTMENTS */

.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll {
    display: block;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack h1,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll h1 {
    color: #8FD6E8;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .sheet-container {
    background-color: #1A4651;
    color: #F8F8F8;
    border: 1px solid #1D1D1D;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-subheader,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .sheet-subheader {
    color: #F8F8F8;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .inlinerollresult,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .inlinerollresult {
    background-color: transparent;
    border: none;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .sheet-customHighlight .inlinerollresult.fullfail,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .sheet-customHighlight .inlinerollresult.fullcrit {
    color: #F8F8F8;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-container {
    background-color: #1A4651;
    color: #F8F8F8;
    border: 1px solid #1D1D1D;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-customHighlight .inlinerollresult.fullfail,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-customHighlight .inlinerollresult.fullcrit {
    color: #F8F8F8;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-attack-touch-success
{
    color: rgb(24, 238, 70);
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .sheet-arrow-right, 
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-arrow-right {
    border-left: 180px solid #8FD6E8;
}