
/* TABS */
.charsheet .character,
.charsheet .character2,
.charsheet .journal {
    display: none;
}
.charsheet .tab {
    border: none;
    background: transparent;
    border-bottom: 2px solid rgba(97, 70, 113, .15);
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.charsheet .tabs {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    font-family: Quiza, Times New Roman, Times, serif;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: .5rem;
    width: 100%;
    border-bottom: 1px solid #432a77;
}
.charsheet .tab:hover {
    color: #d20bf2;
    border-color: #d20bf2;
}
.charsheet .tabstoggle[value="character"]~.tabs .tab-character,
.charsheet .tabstoggle[value="character2"]~.tabs .tab-character2,
.charsheet .tabstoggle[value="journal"]~.tabs .tab-journal {
    color: #3066b1;
    border-color: #3066b1;
}
.charsheet .tabstoggle[value="character"]~div.character,
.charsheet .tabstoggle[value="character2"]~div.character2,
.charsheet .tabstoggle[value="journal"]~div.journal {
    display: block;
}
.charsheet textarea.textbox {
    resize: none;
    box-sizing: border-box;
    height: 231px;
}
.charsheet .toggle-container {
    display: inline-flex;
    align-items: center;
}

/* CUSTOMS */
.colors {
    width: 166px;
}

.character-color[value="red"] ~ .rect {
    background: linear-gradient(#ff9999, #ff6666);
}

.character-color[value="grey"] ~ .rect {
    background: linear-gradient(#bfbfbf, #808080);
}

.character-color[value="blue"] ~ .rect {
    background: linear-gradient(#99b3cc, #6699cc);
}

.character-color[value="green"] ~ .rect {
    background: linear-gradient(#009933, #008000);
}

.character-color[value="brown"] ~ .rect {
    background: linear-gradient(#cc9966, #964b00);
}
.bio-rect {
    width: 50px;
    height: 18px;
}
.rect {
    max-width: 60px;
    max-height: 30px;
}
.circle {
    margin-left: 15px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    background-color: #000;
}
.high-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0;
    padding-left: 5px;
    border: 1px solid #ccc;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto; /* Deux colonnes de largeur automatique */
    gap: 10px;
}
.high-title .title {
    color: #6F150C;
    font-size: 24px;
}
.high-title .right {
    margin: auto 0 auto auto;
}
.high-title .right select {
    margin-bottom: 0px;
}
.character-infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    max-width: 100%;
}
.character h2 {
    display: flex;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0;
    padding-left: 5px;
    color: #6F150C;
    border: 1px solid #ccc;
}
.character .left {
    float: left;
    padding: 5px;
}
.character .right {
    float: right;
    padding: 5px;
}
.character .concept .title {
    width: 150px;
}
.character .concept .lore {
    text-align: left;
    width: 100%;
}
.charsheet .config-concept
{
    width: 500px;
}
.charsheet .sheet-tg-row {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    flex-direction: row;
    line-height: 30px;
    padding-bottom: 5px;
}
.charsheet .sheet-tg-row > span {
    flex: 2 1 auto;
    font-size: 15px;
    font-weight: 500;
}
.charsheet .sheet-tg-row .autoExpand {
    flex: 3 5 auto;
}
.charsheet .sheet-tg-row .autoExpand > input {
    width: 100%;
}
.charsheet .big-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    max-width: 100%;
}
.charsheet .big-box-full {
    grid-template-columns: 1fr;
}
.charsheet .big-box .box {
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.charsheet .big-box .box .box-content {
    padding: 10px;
}
.charsheet .skill-label {
    display: flex;
}
.charsheet .box-health-condition span.fixed {
    margin-left: 0;
}
.charsheet .box-health-condition span {
    margin-left: 5px;
}
.charsheet .skills {
    margin-bottom: 0;
    margin-left: 5px;
    width: 100%;
}
.charsheet .skills .default-way {
    font-weight: bold;
}
.charsheet select.skills-large  {
    margin-bottom: 0;
}
.charsheet .skills-large {
    margin-left: 5px;
    width: 150px;
}
.charsheet .sheet-tg-row span.title {
    font-weight: bold;
}
.charsheet .charsheet .domains
{
    font-weight: bold;
}
.charsheet .domains .header-name {
    width: 150px;
}
.charsheet .domains .header-val {
    width: 40px;
}

.charsheet .domains .header-bonus {
    width: 40px;
}
.charsheet .domains .header-voie {
    width: 100px;
}
.charsheet .footer {
    padding-top: 20px;
    color: darkslategray;
    font-style: italic;
}
.charsheet .domains-box .domain_skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 100%;
}
.charsheet .domains-box .domain_skills input {
    background-color: white;
}
.charsheet .attitudes-box {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    gap: 5px;
    max-width: 100%; 
}
.charsheet .attitudes-box .attitude-title {
    background-color: #E6DFD9;
    color: #6F150C;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}
.charsheet .attitudes-box .attitude-title > span
{
    font-size: 18px;
    padding-left: 5px;
}
.charsheet .attitudes-box .attitude-title > span
{
    font-size: 18px;
    padding-left: 5px;
}
.charsheet .attitudes-box .attitude-attributes {
    padding: 5px;
}
.charsheet .attitudes-box .attitude-attributes > span {
    margin-left: 5px;
}
.charsheet .attitudes {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
.charsheet .domains-box .domain-box {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
.charsheet .domains-box .domain-box .domain-title
{
    background-color: #E6DFD9;
    color: #6F150C;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}
.charsheet .domains-box .domain-box .domain-label
{
    font-weight: bold;
    font-size: 20px;
}
.charsheet .domains-box .domain-box .domain-values {
    padding: 5px;
    text-align: left;
}
.charsheet .domains-box .domain-box .domain-values > span
{
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;;
}
.charsheet .domains-box .domain-box .sheet-tooltip
{
    color: darkgrey;
}
.charsheet .domains-box .domain-box .domain-way  {
    padding: 5px;
}
.charsheet .domains-box .domain-box .domain-way > span
{
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;;
}
.charsheet .domains-box .domain-disc
{
    align-items: start;
}
.charsheet .domains-box .domain-disc .disc_name
{
    width: 100%;
}
.charsheet .big-box span.title
{
    background-color: #E6DFD9;
    color: #6F150C;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}
.charsheet .attack .roll {
    margin: 0 auto;
}
.charsheet .equip-name  {
    width: 100%;
    margin: 0 5px;
}
.charsheet span.equip-name  {
    font-weight: bold;
}
.charsheet .equip-checkbox  {
    width: 15px;
}
.charsheet .equip-bonus  {
    width: 50px;
}
.charsheet span.equip-bonus  {
    font-weight: bold;
}
/* SPELLS */
.spells .headers,
.spells .repitem {
    display: grid;
    grid-template-columns: 150px auto 50px 130px 50px;;
    grid-gap: 10px;
    align-items: start;
}
.spells .headers .header {
    font-weight: bold;
}
.spells .repcontainer input[type="text"] {
    width: 100%;
}
.spells .repcontainer select {
    width: 130px;
}
.spells .repcontainer select.spell_form {
    width: 150px;
}
.spells .repcontainer input[type="text"],
.spells .repcontainer input[type="number"],
.spells .repcontainer select {
  grid-column: span 1;
}

input.sheet-magicAwakeToggle[value="hidden"] ~ .magic-points-box,
input.sheet-magicAwakeToggle[value="hidden"] ~ .domain-disc-magic {
    display: none;
}
input.sheet-magicAwakeToggle[value="visible"] ~ .magic-points-box,
input.sheet-magicAwakeToggle[value="visible"] ~ .domain-disc-magic {
    display: flex;
}
input.sheet-magicAwakeToggle[value="hidden"] ~ .spell-box {
    display: none;
}
input.sheet-magicAwakeToggle[value="visible"] ~ .spell-box {
    display: block;
}
.mana {
    display: grid;
    background-color: #E6DFD9;
    color: #000;
    padding: 5px;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}
.mana span {
    padding-right: 5px;
}
.mana .mana_points {
    align-items: self-end;
}
/* TOOLTIPS */

.sheet-tooltip {
    margin-left: auto;
    outline: none;
    cursor: help;
    padding-left: 5px;
    padding-right: 5px;
}
.sheet-tooltip strong { line-height: 30px; }
.sheet-tooltip:hover span {
    display: block;
    position: absolute;
}
.sheet-tooltip:hover { text-decoration: none; }
.sheet-tooltip span {
    display: none;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #ccc;
    z-index: 10;
    padding: 14px 20px;
    margin-top: 10px;
    margin-left: -150px;
    width: 160px;
    line-height: 16px;
    color: #111;
    border: 1px solid #dca;
    background: #fffaf0;
    text-align: justify;
}

/* BUTTONS D10 */

button.d10-dice {
    padding: 2px 3px;
    font-size: 1.3em;
    margin: 0px 3px 0px 3px;
}

button.d10-dice::before {
    font-family: 'dicefontd10' !important;
    content: 't';
    font-size: 1.3em;
}

/* ROLL TEMPLATES */
.sheet-rolltemplate-d10roll .sheet-manaCost {
    color: #5c9dc0;
}

.sheet-rolltemplate-d10roll .sheet-healthCost {
    color: #b22222;
}

.sheet-rolltemplate-d10roll .sheet-container,
.sheet-rolltemplate-attack .sheet-container {
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: 189px;
}
.sheet-rolltemplate-d10roll .sheet-container h1,
.sheet-rolltemplate-attack .sheet-container h1 {
    color: rgb(126, 45, 64);
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}
.sheet-rolltemplate-d10roll div,
.sheet-rolltemplate-attack div {
    padding: 2px;
};
.sheet-rolltemplate-d10roll span,
.sheet-rolltemplate-attack span {
    color: rgb(126, 45, 64);
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}
.sheet-rolltemplate-d10roll .sheet-subheader,
.sheet-rolltemplate-attack .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}
.sheet-rolltemplate-d10roll .sheet-arrow-right,
.sheet-rolltemplate-attack .sheet-arrow-right {
    border-bottom: 2px solid transparent;
    border-left: 180px solid #6F150C;
    border-top: 2px solid transparent;
}
.sheet-rolltemplate-d10roll .sheet-tcat,
.sheet-rolltemplate-attack .sheet-tcat {
    font-style: italic;
}
.sheet-rolltemplate-d10roll .inlinerollresult,
.sheet-rolltemplate-attack .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
.sheet-rolltemplate-d10roll .inlinerollresult.fullcrit,
.sheet-rolltemplate-attack .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
.sheet-rolltemplate-d10roll .inlinerollresult.fullfail,
.sheet-rolltemplate-attack .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
.sheet-rolltemplate-d10roll .inlinerollresult.importandivoll,
.sheet-rolltemplate-attack .inlinerollresult.importandivoll {
    color: #4A57ED;
    border: none;
}
.sheet-rolltemplate-d10roll .sheet-fullcrit .sheet-customHighlight .inlinerollresult,
.sheet-rolltemplate-attack .sheet-fullcrit .sheet-customHighlight .inlinerollresult
{
    color: #3FB315 !important;
}
.sheet-rolltemplate-d10roll .sheet-fullfail .sheet-customHighlight .inlinerollresult,
.sheet-rolltemplate-attack .sheet-fullfail .sheet-customHighlight .inlinerollresult
{
    color: red !important;
}
.sheet-rolltemplate-d10roll .sheet-customHighlight .inlinerollresult.fullcrit,
.sheet-rolltemplate-d10roll .sheet-customHighlight .inlinerollresult.fullfail,
.sheet-rolltemplate-attack .sheet-customHighlight .inlinerollresult.fullcrit,
.sheet-rolltemplate-attack .sheet-customHighlight .inlinerollresult.fullfail
{
    color: #000000;
}
.sheet-rolltemplate-d10roll .sheet-detailled,
.sheet-rolltemplate-attack .sheet-detailled
{
    color: darkgray;
    font-style: italic;
    font-size: 0.8em;
}
.sheet-rolltemplate-attack .sheet-attack-touch-fail
{
    color: red !important;
}
.sheet-rolltemplate-attack .sheet-attack-touch-success
{
    color: green;
}
.sheet-rolltemplate-d10roll .sheet-roll-spell .sheet-arrow-right {
    border-left: 180px solid #3f7a9a;
}
.sheet-rolltemplate-d10roll .sheet-roll-spell h1 {
    color: #3f7a9a
}
/* Dark mod adjustements */

body.sheet-darkmode  .charactersheet {
    background-color: #03131A;
    color: #F8F8F8;
    color-scheme: light dark;
}
body.sheet-darkmode .box,
body.sheet-darkmode .attitudes,
body.sheet-darkmode .domains-box .domain-box {
    background-color: #11262E;
    border: 1px solid #1D1D1D;
}
body.sheet-darkmode .character-info {
    background-color: #03131A;
}
body.sheet-darkmode h2 {
    border: 1px solid #1D1D1D;
    background-color: #92DAEC;
    color: #1A4651;
}
body.sheet-darkmode .footer
{
    color: #A1A1A1;
}
body.sheet-darkmode .attitudes-box .attitude-title,
body.sheet-darkmode .domains-box .domain-box .domain-title,
body.sheet-darkmode .big-box span.title {
    background-color: #1A4651;
    border-bottom: 1px solid #1D1D1D;
    color: #8FD6E8;
}
body.sheet-darkmode button,
body.sheet-darkmode input,
body.sheet-darkmode optgroup,
body.sheet-darkmode select,
body.sheet-darkmode textarea,
body.sheet-darkmode .charsheet {
	color: #eee;
    background-color: #03131A;
    border-color: #1A4651;
}
body.sheet-darkmode .btn,
body.sheet-darkmode .btn.btn-default {
	color: #c8c3bc;
	text-shadow: rgba(24,26,27,.75) 0px 1px 1px;
	background-color: #1e2021;
	background-image: linear-gradient(#181a1b, #26292b);
	border-color: #3e4446 #3e4446 #43494c;
	box-shadow: rgba(24,26,27,.2) 0px 1px 0px inset,rgba(0,0,0,.05) 0px 1px 2px
}
body.sheet-darkmode .sheet-tooltip:hover span {
    display: block;
    position: absolute;
}
body.sheet-darkmode .sheet-tooltip span {
    display: none;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #1A4651;
    z-index: 10;
    padding: 14px 20px;
    margin-top: 10px;
    margin-left: -150px;
    width: 160px;
    line-height: 16px;
    color: #F8F8F8;
    border: 1px solid #1A4651;
    background: #1A4651;
    text-align: justify;
}
body.sheet-darkmode .character,
body.sheet-darkmode .config,
body.sheet-darkmode .journal {
    display: none;
    padding: 5px;
    border: 1px solid #1A4651;
}
body.sheet-darkmode .tab {
    cursor: pointer;
    border: 1px solid #1A4651;
    border-bottom: 1px solid #03131A;
    padding: 10px;
    background-color: #03131A;
    margin-bottom: -1px;
}
body.sheet-darkmode .tab:hover {
    background: linear-gradient(to bottom, #1A4651, #03131A);
}
body.sheet-darkmode .charsheet .tabstoggle[value="character"]~.tabs .tab-character,
body.sheet-darkmode .charsheet .tabstoggle[value="journal"]~.tabs .tab-journal {
    background: linear-gradient(to bottom, #1A4651, #03131A);
}

/* DARK MODE ROLL TEMPLATES ADJUSTMENTS */

.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll {
    display: block;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack h1,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll h1 {
    color: #8FD6E8;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .sheet-container {
    background-color: #1A4651;
    color: #F8F8F8;
    border: 1px solid #1D1D1D;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-subheader,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .sheet-subheader {
    color: #F8F8F8;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .inlinerollresult,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .inlinerollresult {
    background-color: transparent;
    border: none;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .sheet-customHighlight .inlinerollresult.fullfail,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .sheet-customHighlight .inlinerollresult.fullcrit {
    color: #F8F8F8;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-container {
    background-color: #1A4651;
    color: #F8F8F8;
    border: 1px solid #1D1D1D;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-customHighlight .inlinerollresult.fullfail,
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-customHighlight .inlinerollresult.fullcrit {
    color: #F8F8F8;
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-attack-touch-success
{
    color: rgb(24, 238, 70);
}
.sheet-rolltemplate-darkmode.sheet-rolltemplate-d10roll .sheet-arrow-right, 
.sheet-rolltemplate-darkmode.sheet-rolltemplate-attack .sheet-arrow-right {
    border-left: 180px solid #8FD6E8;
}

/* HEADERS */
.headeritem--motivation {
    flex: 50% 1 1
}

.headeritem__value:empty:after {
    content: "—"
}
.header {
    display: grid;
    grid-template-columns: 12.5rem 1fr .5fr;
    grid-gap: 1rem;
    padding: 1rem;
    background: linear-gradient(180deg, #261617, #594875);
}

.header__bio {
    display: grid;
    grid-gap: .25rem
}

.header__row,.header__row--name {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.characterviewer .content {
	margin-bottom: 20px;
}

.characterviewer .avatar {
	float: left;
	margin-right: 10px !important;
	margin-bottom: 10px !important;
	max-width: 250px;
	position: relative;
	z-index: 1;
}

.characterviewer .avatar video {
	max-width: 100%;
	height: auto;
}
.header__row--name {
    gap: .5rem;
    padding-top: 1rem;
    cursor: pointer;
    font-family: Quiza,Verdana,Geneva,Tahoma,sans-serif;
    font-size: 3.2rem;
    line-height: 1;
    color: #FFF7E6;
}

.header__row--name:hover,.header__row--name:hover * {
    color: #FEE2BB;
    text-decoration: none;
}

.header__avatar {
    display: grid;
    grid-template-areas: "avatar";
    padding: .5rem
}

.header__avatar svg,.header__avatar img {
    grid-area: avatar;
    width: 100%;
    height: auto
}

.header__avatar svg {
    position: relative;
    z-index: 100
}

.header__avatar path {
    fill: #FFF7E6;
}

.header__avatar-img {
    clip-path: polygon(15% 0%,35% 0%,50% 15%,65% 0%,85% 0%,100% 15%,100% 85%,85% 100%,65% 100%,50% 85%,35% 100%,15% 100%,0% 85%,0% 15%)
}

.header__edit {
    width: 1.5rem;
    height: 1.5rem;
    color: #FFF7E6;
}

.header__boxes {
    display: grid;
}

.header .headeritem__label {
    display: flex;
    align-items: center
}

.header__button {
    width: 2rem;
    height: 2rem;
    align-self: end;
    padding: 1.5rem;
    font-family: Nunito Sans,Verdana,Geneva,Tahoma,sans-serif
}
 .toolbar__settings input[type=checkbox] {
    display: none;
  }
 .toolbar__settings input[type=checkbox]:checked + .toolbar__settings--icon {
    opacity: 1;
  }
 .toolbar__settings--icon {
    font-family: pictos;
  }
  .toolbar__settings--icon {
    width: 24px;
    height: 24px;
    opacity: 0.5;
  }


.headeritem__label {
    font-family: Quiza,Verdana,Geneva,Tahoma,sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #FEE2BB;
    text-shadow: 
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black; /* Définir le contour avec des ombres */
}

.headeritem__value {
    font-size: 1.4rem;
    text-transform: unset;
    line-height: 1.4rem;
    color: #fff
}
.title-name {
    font-size: 2em;
}
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

  /* Conteneur de la grille */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 15px); /* 5 colonnes de 50 pixels de large */
    grid-gap: 5px; /* Espacement entre les carrés */
    padding-top: 3px;
  }
  
  /* Carré */
  .square {
    width: 15px;
    height: 15px;
    background-color: #ccc; /* Couleur de fond des carrés */
  }
  
  /* Masquer tous les carrés */
  .square {
    display: none;
  }
  
  /* Afficher les carrés en fonction de la valeur de l'input */
  /* Ici, nous utilisons la pseudo-classe :nth-child pour cibler les enfants spécifiques en fonction de leur position */
  /* Par exemple, :nth-child(1) cible le premier enfant, :nth-child(2) cible le deuxième enfant, etc. */
  /* Nous utilisons la valeur de l'input (1 à 5) pour déterminer quels enfants afficher */
  /* Par exemple, si la valeur de l'input est 3, nous affichons les 3 premiers enfants */
  .input-range[value="1"] ~ .grid-container .square:nth-child(-n+1),
  .input-range[value="2"] ~ .grid-container .square:nth-child(-n+2),
  .input-range[value="3"] ~ .grid-container .square:nth-child(-n+3),
  .input-range[value="4"] ~ .grid-container .square:nth-child(-n+4),
  .input-range[value="5"] ~ .grid-container .square:nth-child(-n+5) {
    display: block;
  }

  .square-combativeness .square {
    background: linear-gradient(#ff9999, #ff6666);
  }
  .square-awareness .square {
    background: linear-gradient(#99ccff, #6699ff);
  }
  .square-creativity .square {
    background: linear-gradient(#cc99ff, #9966ff);
  }
  .square-conviction .square {
    background: linear-gradient(#ffff99, #ffff66);
  }
  .square-reason .square {
    background: linear-gradient(#99ff99, #66ff66);
  }
  .stats__row .header__row {
    gap: 15px;
  }

  .header-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header-title {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: auto 2rem 1fr;
    margin: 1rem 0;
    align-items: center;
  }
  .health-box {
    display: grid;
  }
  .skill-category__header--span {
    grid-column: 1;
    margin-right: 0.5rem;
    text-transform: uppercase;
    white-space: nowrap;
}
  
.header-title .skill-category__header--span + hr {
    grid-column: 3;
    border: none;
    border-bottom: 2px solid #acb7b1;
    align-self: center;
    width: 100%;
  }

