.sheet-darkmode *,
.sheet-rolltemplate-darkmode {
    --c-text: #e6e6e6;
    --c-text-light: #d0d0d0;
    --c-text-lighter: #b8b8b8;
    --c-text-lightest: #a0a0a0;
    --c-text-gray: #808080;
    --c-text-hover: #ffffff;

    --c-outline: #404040;
    --c-item: #404040;
    --c-background-die: #303030;
    --c-background-dark: #702c91;
    --c-background-hover: #2a2a2a;
    --c-background-tooltip: #404040;

    --c-background: #1F1F1F;
    --c-background-grid: #151515;
    --c-background-track: #404040;
    --c-background-primary: #404040;
    --c-border-primary: #404040;
    --c-text-checked: #702c91;
    --c-text-background: #404040;
;
}