.sheet-darkmode *,
.sheet-rolltemplate-darkmode {
    --c-text: #e6e6e6;
    --c-text-light: #d0d0d0;
    --c-text-lighter: #b8b8b8;
    --c-text-lightest: #a0a0a0;
    --c-text-gray: #808080;
    --c-text-disable: #808080;
    --c-text-hover: #ffffff;

    --c-outline: #404040;
    --c-item: #404040;
    --c-background-die: #303030;
    --c-background-dark: #702c91;
    --c-background-hover: #2a2a2a;
    --c-background-tooltip: #404040;

    --c-background: #1F1F1F;
    --c-background-grid: #151515;
    --c-background-track: #404040;
    --c-background-primary: #404040;
    --c-border-primary: #404040;
    --c-text-checked: #702c91;
    --c-text-background: #404040;

    .charsheet .sheet-silhouette__switch:checked + .sheet-silhouette__image {
        background-image: url(https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/male_solomon_silouette_dark2.png) !important;
    }

    .charsheet .sheet-silhouette__image {
        background-image: url(https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/female_solomon_silhouette_dark2.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .charsheet .sheet-hex--36 {
        background-image: url(https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/hexagon_36_dark.png) !important;
    }
    .charsheet .sheet-hex--48 {
        background-image: url(https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/hexagon_48_dark.png) !important;
    }
    .charsheet .sheet-hex--64 {
        background-image: url(https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/hexagon_64_dark.png) !important;
    }

    .charsheet .sheet-armor__pointer {
        &--head {
            background-image: url('https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/head_line_dark.png') !important;
        }
        &--torso {
            background-image: url('https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/torso_line_dark.png') !important;
        }
        &--arms {
            background-image: url('https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/arms_line_dark.png') !important;
        }
        &--legs {
            background-image: url('https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/legs_line_dark.png') !important;
        }
    }
    .charsheet .sheet-armor__decoration {
        background-image: url('https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/decoration_line_dark.png') !important;
    }
}