* {
    --c-text: #404040;
    --c-text-light: #606060;
    --c-text-lighter: #808080;
    --c-text-lightest: #b0b0b0;
    --c-text-gray: #d6d6d6;
    --c-text-hover: #303030;

    --c-outline: #e0e0e0;
    --c-item: #fdfdfd;
    --c-background-die: #fafafa;
    --c-background-dark: #898989;
    --c-background-hover: #f2f2f2;
    --c-background-tooltip: #606060;

    --c-background: #ffffff;
    --c-background-grid: #fbfbfb;
}