*,
.sheet-rolltemplate-TraitRoll,
.sheet-rolltemplate-DiceRoller,
.sheet-rolltemplate-RunRoll,
.sheet-rolltemplate-InfoBox,
.sheet-rolltemplate-DamageRoll {
    --c-text: #404040;
    --c-text-light: #606060;
    --c-text-lighter: #808080;
    --c-text-lightest: #b0b0b0;
    --c-text-gray: #d6d6d6;
    --c-text-hover: #303030;

    --c-outline: #e0e0e0;
    --c-item: #fdfdfd;
    --c-background-die: #fafafa;
    --c-background-dark: #898989;
    --c-background-hover: #f2f2f2;
    --c-background-tooltip: #606060;

    --c-background: #ffffff;
    --c-background-grid: #fbfbfb;
    --c-background-track: #ffffff;
    --c-background-primary: #ffffff;
    --c-border-primary: #dbdbdb;
    --c-text-checked: var(--c-text-lighter);
    --c-text-background: #ffffff;

    .charsheet .sheet-silhouette__switch:checked + .sheet-silhouette__image {
        background-image: url(https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/male_solomon_silouette.png) !important;
    }

    .charsheet .sheet-silhouette__image {
        background-image: url(https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/female_solomon_silhouette.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .charsheet .sheet-hex--36 {
        background-image: url(https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/hexagon_36.svg) !important;
    }
    .charsheet .sheet-hex--48 {
        background-image: url(https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/hexagon_48.svg)  !important;
    }
    .charsheet .sheet-hex--64 {
        background-image: url(https://raw.githubusercontent.com/Onaldanm/roll20-character-sheets/solomon-kane-jdr/Savage%20Worlds%20-%20Solomon%20Kane/img/hexagon_64.svg)  !important;
    }
}